extends ../layout

block content
    .row
        .col-md-12            
            .lists
                h2 我的订单
                .panel-heading
                    .filter-option
                        label 订单状态
                        select.order-status
                            option(value="-1") 全部
                            option(value="0") 待付款
                            option(value="1") 已完成
                    
                    .filter-option
                        label.fl-left 下单时间

                        .ta_date#div_date1
                            span.date_title#date1
                            a.opt_sel#input_trigger1(href="#")
                                i.i_orderd
                    .widget.widget-search.fl-right
                        form(action='/', onsubmit='return searchOrder();')
                            input.form-control(type="text", name="key", id="key", value="", required="required", placeholder="商品名、订单编号", style="width:200px;")
                            button(type="submit").btn.btn-info 搜索

                table.table.table-striped
                    thead
                        tr
                            th 订单编号
                            th 游戏名
                            th 价格
                            th 下单时间
                            th 操作
                    tbody
                        - each item in orders
                            tr
                                td #{item.id}
                                td.game-item
                                    - each game in item.gamelist
                                        img(src='/uploaded/files/#{game.thumb}')
                                        span #{game.name}
                                        span #{game.price}
                                td #{item.price}
                                td #{moment(item.createtime).format('LLL')}
                                td 
                                    if (item.status)
                                        p 已完成
                                        a.btn.btn-danger.btn-xs.del-order(href='#', data-id='#{item.id}') 删除订单
                                    else
                                        a.btn.btn-danger.btn-xs.pay-order(href='#{adminDir}/usercart/#{item.id}/pay') 支付订单
                                        br
                                        a.btn.btn-danger.btn-xs.del-order(href='#', data-id='#{item.id}') 取消订单
                        
                if (pageInfo && pageInfo.totalPage > 1)
                    include ../mixin
                    +pagination(pageInfo)

block foot-js
    link(rel='stylesheet', href='/assets/plugins/pickerDateRange/css/dateRange.css')
    //link(rel='stylesheet', href='/assets/plugins/pickerDateRange/css/monthPicker.css')
    script(src='/assets/plugins/pickerDateRange/js/dateRange.js')
    script(src='/assets/plugins/moment.min.js')

    script#J_tmpl_comment_item(type='x-tmpl-mustache')
        {{#data}}
        tr
            td {{_id}}
            td.game-item                
                {{#games}}
                img(src='/uploaded/files/{{thumb}}')
                span {{name}}
                span {{price}}
                {{/games}}
            td {{price}}
            td {{outtime}}
            td 
                {{#status}}
                p 已完成
                a.btn.btn-danger.btn-xs.del-order(href='#', data-id='{{id}}') 删除订单
                {{/status}}
                {{^status}}
                a.btn.btn-danger.btn-xs.pay-order(href='#{adminDir}/usercart/{{id}}/pay') 支付订单
                br
                a.btn.btn-danger.btn-xs.del-order(href='#', data-id='{{id}}') 取消订单
                {{/status}}
        {{/data}}

    script.
        var token = '#{token}';

        $(function(){
            $('.del-order').click(delCart); 
            var dateRange1 = new pickerDateRange('date1', {
                isTodayValid : true,
                startDate : '2015-09-01',
                endDate : '2015-09-31',
                needCompare : false,
                defaultText : ' 至 ',
                autoSubmit : true,
                inputTrigger : 'input_trigger1',
                theme : 'ta',
                success : function(obj) {
                    console.log('开始时间 : ' + obj.startDate + '<br/>结束时间 : ' + obj.endDate);                    
                    var data = {
                        start: obj.startDate,
                        end: obj.endDate,
                        _csrf: token
                    };
                    search(data);
                }
            });
            
            $('.order-status').change(function(){
                var d = $(this).val();
                var data = {
                    _csrf: token
                };
                if(d!=-1){
                    data.status = d==1;
                }
                search(data);
            }); 
        });

        var token = '#{token}';
        function searchOrder(){
            var data = {
                key: $('#key').val(),
                _csrf: token
            };
            search(data);
            return false;
        }
        
        function search(data){
            var $list = $(".table-striped tbody").empty();
            $.post('#{adminDir}/usercart/searchorder', data, function(json) {
                console.log(json);
                if(json.success === true) {
                    var tmpl = $('#J_tmpl_comment_item').html();              
                    var html = Mustache.render(tmpl, json);
                    $list.append(html);
                }else{
                    alert(json.message);
                }
            });
        }

        function delCart(){
            var $item = $(this).parent().parent();             
            var data = {
                id: $(this).data('id'),
                _csrf: token
            };
            $.post('#{adminDir}/usercart/delorder', data, function(json) {
                alert(json.message);
                if(json.success === true) {                    
                    $item.remove();
                }
            });
            return false;
        }