doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{title}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        // Favicon
        link(rel='shortcut icon', href='/assets/server/img/favicon.ico', type='image/x-icon')
        // Bootstrap core CSS
        link(rel='stylesheet', href='/assets/plugins/bootstrap/css/bootstrap.min.css')
        // Bootstrap dialog
        link(rel='stylesheet', href='/assets/plugins/bootstrap3-dialog/css/bootstrap-dialog.min.css')

        link(rel='stylesheet', href='/assets/plugins/messenger/css/messenger.css')
        link(rel='stylesheet', href='/assets/plugins/messenger/css/messenger-theme-flat.css')

        link(rel='stylesheet', href='/assets/plugins/chosen_v1.2.0/chosen.css')

        // Fonts from Font Awsome
        link(rel='stylesheet', href='/assets/server/css/font-awesome.min.css')
        // CSS Animate
        link(rel='stylesheet', href='/assets/server/css/animate.css')
        // Custom styles for this theme
        link(rel='stylesheet', href='/assets/server/css/main.css')
        link(rel='stylesheet', href='/assets/server/css/style.css')
        block head-css
        // Feature detection
        script(src='/assets/server/js/modernizr-2.6.2.min.js')
        block head-js
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='/assets/server/js/html5shiv.js')
            script(src='/assets/server/js/respond.min.js')
    body
        section#container
            header#header
                // logo start
                .brand
                    a.logo(href='#{adminDir}')
                        | youqu 100
                // logo end
                .toggle-navigation.toggle-left
                    button#toggle-left.btn.btn-default(type='button', data-toggle='tooltip', data-placement='right', title='切换左栏')
                        i.fa.fa-bars

                .user-nav
                    ul                        
                        if (User)
                            li.profile-photo
                                - var avatar = gravatar.url(User.email, {s: '40',r: 'x',d: 'retro'}, true)
                                - avatar = avatar.replace('s.gravatar.com', 'cn.gravatar.com');
                                img.img-circle(src='#{avatar}', alt='')
                            li.dropdown.settings
                                a.dropdown-toggle(data-toggle='dropdown', href='')
                                    | #{User.name}
                                    i.fa.fa-angle-down
                                ul.dropdown-menu
                                    li
                                        a(href='#{adminDir}/me')
                                            i.fa.fa-user
                                            |  个人资料
                                    li
                                        a(href='#{adminDir}/user/logout')
                                            i.fa.fa-power-off
                                            |  登出
            // sidebar left start
            aside.sidebar
                #leftside-navigation.nano
                    ul.nano-content                        
                        li(class=Path === 'index' ? 'active' : '')
                            a(href='#{adminDir}')
                                i.fa.fa-dashboard
                                span 首页
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('game') > -1|| Actions.indexOf('usercart') > -1))
                            li.sub-menu(class=(Path === 'game'||Path === 'usercart') ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-file-text
                                    span 游戏商城
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/game') 游戏商城
                                    li(class=Menu === 'usercart' ? 'active' : '')
                                        a(href='#{adminDir}/usercart') 购物车
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/usercart/myorder') 我的订单
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('category') > -1))
                            li.sub-menu(class=Path === 'category' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-th
                                    span 游戏管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'usergame' ? 'active' : '')
                                        a(href='#{adminDir}/usergame') 已购游戏模板
                                    li(class=Menu === 'usergame-my' ? 'active' : '')
                                        a(href='#{adminDir}/usergame/my') 我的游戏
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/poster') 海报管理
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/resource') 资源库管理
                        //if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('comment') > -1))
                            li(class=Path === 'comment' ? 'active' : '')
                                a(href='#{adminDir}/comment') 评论列表
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('user') > -1))
                            li.sub-menu(class=Path === 'user' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-users
                                    span 游戏统计
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/chart') 游戏统计
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/chart/integral') 积分记录
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/chart/consume') 消费记录
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('role') > -1))
                            li.sub-menu(class=Path === 'role' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-unlock-alt
                                    span 会员管理
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/user') 会员列表
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/user/level') 升级设置
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/user/msg') 发微信消息
                        if (User && (Roles.indexOf('admin') > -1 || Actions.indexOf('file') > -1))
                            li.sub-menu(class=Path === 'file' ? 'active' : '')
                                a(href='javascript:void(0);')
                                    i.fa.fa-folder-open
                                    span 商家设置
                                    i.arrow.fa.fa-angle-right.pull-right
                                ul
                                    li(class=Menu === 'list' ? 'active' : '')
                                        a(href='#{adminDir}/me') 修改资料
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/exchange') 积分兑奖设置
                                    li(class=Menu === 'add' ? 'active' : '')
                                        a(href='#{adminDir}/client') 终端管理
                                
            // sidebar left end
            // main content start
            section.main-content-wrapper
                section#main-content
                    block content
                    
                    
            // main content end
            
        // Global JS
        script(src='/assets/server/js/jquery-1.10.2.min.js')
        script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
        script(src='/assets/plugins/bootstrap3-dialog/js/bootstrap-dialog.min.js')
        script(src='/assets/plugins/messenger/js/messenger.min.js')
        script(src='/assets/plugins/messenger/js/messenger-theme-future.js')
        script(src='/assets/plugins/chosen_v1.2.0/chosen.jquery.min.js')
        script(src='/assets/server/js/vendor/mustache.js')
        script(src='/assets/server/js/application.js')
        // Load these page level functions
        block foot-js
        //script.
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3a258fabccde554fc44cba951692bdde' type='text/javascript'%3E%3C/script%3E"));
